<h1>Click an song To View It</h1>
<%= link_to 'Add song', new_billboard_song_path(@billboard) %>
<ul>
  <% @songs.each do |song| %>
    <li><%= link_to song.title, [@billboard, song] %></li>
  <% end %>
</ul>
<%= link_to "Back", billboards_path%>