<h1 class="centered">Click A Song To View</h1>
<hr />
<ol>
  <% @songs.each do |song| %>
    <li><%= link_to song.title, [@billboard, song] %></li>
  <% end %>
</ol>
<br />
<br />
<br />
<button class= "ui positive basic button"><%= link_to 'Add song', new_billboard_song_path(@billboard) %></button>
<button class= "ui right floated primary basic button"><%= link_to "Back", billboards_path%></button>