<h1>New Song</h1>

<%= render "form", billboard: @billboard, song: @song %>
<br />
<br />
<br />
<button class= "ui primary basic button"><%= link_to "Back", billboard_songs_path(@billboard) %></button>
