<h1 class= "ui header centered">New Song</h1>

<%= render "form", billboard: @billboard, song: @song %>
<br />
<br />
<br />
<button class= "ui right floated primary basic button"><%= link_to "Back", billboard_songs_path(@billboard) %></button>
