<h1>Edit Billboard</h1>
 
<%# Ternary if sub id exist then edit else create%>
<%= render "form", billboard: @billboard %>

<%= link_to "show", billboard_path(@billboard) %>
<%= link_to "Back", billboard_path %>
