<h1 class= "ui header centered">Edit Billboard</h1>
<hr />
<%= render "form", billboard: @billboard %>
<br>
<button type="button" class="btn btn-outline-primary btn-sm">
<%= link_to "show", billboard_path(@billboard) %>
</button>
<button type="button" class="btn btn-outline-primary btn-sm">
<%= link_to "Back", billboards_path %>
</button>


